h3 {
    margin-top: 0;
    font-size: 1.25em;
}
openReglament {
    background-color: transparent;
    padding: 0;
    display: inline;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    border: 0;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
}