guest {
    position: relative;
    margin: 0;
    &[|shade='dark'] name {
        background-color: rgba(19, 20, 19, .75);
    }
    &[|shade='accent'] name {
        background-color: rgba(118, 48, 119, .75);
    }
    &:hover name {
        opacity: 1;
    }
}

name {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    transition: color .3s, background-color .3s;
    transition: all .4s ease-in-out;
    opacity: 0;

    font-size: 16px;
    line-height: 20px;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

@media only screen and (min-width: 400px) {
    name {
        font-size: 22px;
        line-height: 26px;
    }
}

@media only screen and (min-width: 700px) {
    name {
        font-size: 28px;
        line-height: 34px;
    }
}
