h2 {
    font-size: 35px;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;

    & li {
        display: flex;
        font-size: 18px;
        line-height: 24px;

        & timeslot {
            margin-right: 20px;
        }
    }
}

p {
    font-size: 28px;
    line-height: 36px;
}

timeslot {
    font-variant-numeric: tabular-nums;
}
