wrapper {
    background-color: rgb(118, 48, 119);
}
hero {
    min-height: 50vw;
    max-height: 50vh;
    background-image: url('../../static/bg/2018-winner.jpg?resize&size=400');
    background-size: cover;
    background-position: center;
    filter: opacity(.7);
}
@media only screen and (min-width: 400px) {
    hero {
        background-image: url('../../static/bg/2018-winner.jpg?resize&size=500');
    }
}
@media only screen and (min-width: 500px) {
    hero {
        background-image: url('../../static/bg/2018-winner.jpg?resize&size=700');
    }
}
@media only screen and (min-width: 700px) {
    hero {
        background-image: url('../../static/bg/2018-winner.jpg?resize&size=850');
    }
}
@media only screen and (min-width: 800px) {
    hero {
        min-height: 40vw;
    }
}
@media only screen and (min-width: 850px) {
    hero {
        background-image: url('../../static/bg/2018-winner.jpg?resize&size=1200');
    }
}
@media only screen and (min-width: 1200px) {
    hero {
        background-image: url('../../static/bg/2018-winner.jpg?resize&size=1400');
    }
}
@media only screen and (min-width: 1400px) {
    hero {
        background-image: url('../../static/bg/2018-winner.jpg');
    }
}
